.lineChart .axis path,
.lineChart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.lineChart .x.axis path {
  display: none;
}

.lineChart .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.lineChart .dot {
  fill: steelblue;
  stroke: #000;
}

.lineChart .rule line {
  stroke: #eee;
}


.barChart .bar {
    fill: steelblue;
}

.barChart .bar:hover {
    fill: brown;
}

.barChart .axis {
    font: 10px sans-serif;
}

.barChart .axis path,
.barChart .axis line {
    fill: none;
      stroke: #000;
        shape-rendering: crispEdges;
}

.barChart .x.axis path {
    display: none;
}

.barChart .symbolLabel {
  font-size: 9px;
  opacity: 0.6;
}
